Repository wenytang-ms/TeamsFx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode, @kimizhu, @swatDong, @kuojianlu, @a1exwang, @qinezh, @XiaofuHuang, @xiaolang124, @meifans, @dooriya, @jiayi-ruan, @timngmsft, @chagong, @Alive-Fish, @KennethBWSong, @adashen, @xzf0587, @henzhang-ms, @eriolchan, @hund030, @IvanJobs, @YitongFeng-git, @1yefuwang1, @tecton, @blackchoey, @SLdragon, @dilin-MS, @wenytang-ms

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

/packages/vscode-extension @1openwindow @HuihuiWu-Microsoft @nliu-ms @jayzhang @LongOddCode
/packages/vscode-extension/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/src/qm @jayzhang @1openwindow @jiayi-ruan @HuihuiWu-Microsoft @nliu-ms
/packages/vscode-extension/src/debug @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/test/suite/envChecker @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/src/resources/Strings.json @timngmsft @1openwindow

/packages/cli @chagong @Alive-Fish @jiayi-ruan
/packages/cli/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/cli/src/commonlib/appStudioLoginUserPassword.ts @chagong @Alive-Fish @jiayi-ruan
/packages/cli/src/commonlib/azureLoginUserPassword.ts @chagong @Alive-Fish @jiayi-ruan
/packages/cli/src/commonlib/graphLoginUserPassword.ts @chagong @Alive-Fish @jiayi-ruan
/packages/cli/src/commonlib/common/userPasswordConfig.ts @chagong @Alive-Fish @jiayi-ruan
/packages/cli/src/cmds/preview @swatDong @kuojianlu @qinezh @a1exwang @meifans
/packages/cli/tests/e2e/aad @KennethBWSong @adashen
/packages/cli/tests/e2e/simpleauth @KennethBWSong @adashen
/packages/cli/tests/e2e/sql @xzf0587 @adashen
/packages/cli/tests/e2e/apim @XiaofuHuang @dooriya @kimizhu
/packages/cli/tests/e2e/function @henzhang-ms @eriolchan @hund030
/packages/cli/tests/e2e/frontend @hund030 @eriolchan @henzhang-ms
/packages/cli/tests/e2e/bot @IvanJobs @eriolchan @YitongFeng-git
/packages/cli/tests/unit/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya

/packages/api @jayzhang @1yefuwang1 @LongOddCode
/packages/api/src/qm @jayzhang @1yefuwang1 @LongOddCode @jiayi-ruan

/packages/sdk @tecton @blackchoey @SLdragon @dilin-MS @wenytang-ms

/packages/fx-core/src/core @jayzhang @LongOddCode @1yefuwang1
/packages/fx-core/src/plugins/solution/fx-solution @1yefuwang1 @jayzhang @LongOddCode

/packages/fx-core/src/plugins/resource/aad @KennethBWSong @adashen
/packages/fx-core/tests/plugins/resource/aad @KennethBWSong @adashen

/packages/fx-core/src/plugins/resource/apim @XiaofuHuang @dooriya @kimizhu
/packages/fx-core/tests/plugins/resource/apim @XiaofuHuang @dooriya @kimizhu

/packages/fx-core/src/plugins/resource/appstudio @nliu-ms @jayzhang
/packages/fx-core/tests/plugins/resource/appstudio @nliu-ms @jayzhang

/packages/fx-core/src/plugins/resource/spfx @jiayi-ruan @nliu-ms @jayzhang
/packages/fx-core/tests/plugins/resource/spfx @jiayi-ruan @nliu-ms @jayzhang

/packages/fx-core/src/plugins/resource/bot @IvanJobs @eriolchan @YitongFeng-git
/packages/fx-core/tests/plugins/resource/bot @IvanJobs @eriolchan @YitongFeng-git

/templates/bot @YitongFeng-git @IvanJobs @eriolchan
/templates/bot-msgext @YitongFeng-git @IvanJobs @eriolchan
/templates/msgext @YitongFeng-git @IvanJobs @eriolchan

/packages/fx-core/src/plugins/resource/frontend @hund030 @eriolchan @henzhang-ms
/packages/fx-core/tests/plugins/resource/frontend @hund030 @eriolchan @henzhang-ms

/packages/fx-core/src/plugins/resource/function @henzhang-ms @eriolchan @hund030
/packages/fx-core/tests/plugins/resource/function @henzhang-ms @eriolchan @hund030
/packages/fx-core/src/plugins/resource/function/utils/depsChecker @a1exwang @kimizhu @meifans @qinezh

/packages/fx-core/src/plugins/resource/identity @xzf0587 @adashen
/packages/fx-core/tests/plugins/resource/identity @xzf0587 @adashen

/packages/fx-core/src/plugins/resource/sql @xzf0587 @adashen
/packages/fx-core/tests/plugins/resource/sql @xzf0587 @adashen

/packages/fx-core/src/plugins/resource/localdebug @swatDong @kuojianlu
/packages/fx-core/tests/plugins/resource/localdebug @swatDong @kuojianlu

/packages/fx-core/src/plugins/resource/simpleauth @KennethBWSong @adashen
/packages/fx-core/tests/plugins/resource/simpleauth @KennethBWSong @adashen

/packages/simpleauth @adashen @blackchoey @wenytang-ms

/packages/function-extension @adashen @blackchoey @dilin-MS

/.github/workflows/cd.yml @adashen @LongOddCode @IvanJobs @qinezh @wenytang-ms

chore(release): publish detail
  packages/api/package-lock.json
  packages/api/package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/fx-core/package-lock.json
  packages/fx-core/package.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/vscode-extension/package-lock.json
  packages/vscode-extension/package.json
  templates/function-base/js/default/package.json
  templates/function-base/ts/default/package.json
  templates/package-lock.json
  templates/package.json
  templates/tab/js/default/package.json
  templates/tab/ts/default/package.json
Owners: @jayzhang, @1yefuwang1, @LongOddCode, @chagong, @Alive-Fish, @jiayi-ruan, @tecton, @blackchoey, @SLdragon, @dilin-MS, @wenytang-ms, @1openwindow, @HuihuiWu-Microsoft, @nliu-ms

chore: add this test
  packages/cli/cli.js
Owners: @chagong, @Alive-Fish, @jiayi-ruan

chore: test
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: update
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: update
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: update
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: update
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: update
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: update
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: update
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: updaet
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: update
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: update
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: fix
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: fix
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: fix
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

test: test
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

chore: udpate
  packages/vscode-extension/webpack.config.js
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

chore: update name
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms
